<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{ if .Site.Params.robots.noindex }}<meta name="robots" content="noindex, nofollow">{{ end }}
  <title>{{ if eq .IsHome true }}{{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>
  <meta name="description" content="{{ if ne .Description "" }}{{ .Description }}{{ else }}{{ .Site.Params.description }}{{ end }}">
  <meta name="contact" content="{{ .Site.Params.author }}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ absURL "assets/apple-touch-icon.png" }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ absURL "assets/favicon.png" }}">
  <link rel="shortcut icon" href="{{ absURL "assets/favicon.png" }}">
  {{ $styles := resources.Get "scss/styles.scss" | toCSS (dict "outputStyle" "compressed") | minify }}
  <style>{{ $styles.Content | safeCSS }}</style>
</head>